<!DOCTYPE html>
<html lang="EN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> EJS Demonstration </title>
    </head>
    <body>
        <h1> Hey there from the EJS file </h1>
        <h2> Today we learnt: </h2>
        <ul>
            <li> Node servers </li>
            <li> Express servers </li>
            <li> EJS templates </li>
        </ul>
    </body>
</html>