/* Try to avoid targeting selectors with ID */
#title{
    font-size: 40px;
    border: 1px solid black;
    padding: 20px;
    width: 500px;
    box-sizing: border-box;
}

h2{
    color: blue;
}

.covered{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(254, 181, 45);
}

/*
#special{
    color: blue;
}
*/

.lorem{
    background-color: rgb(0, 165, 165);
    color: white;
}

.covered.lorem{
    background-color: gray;
}

ul > li{
    font-style: italic;
}

body li{
    font-weight: bold;
}

li{
    border: 1px solid black;
    /*
    border-width: 5px;
    border-style: dashed;
    border-color: gray;
    */
    margin-bottom: 15px;
}